
html, body, .container {
    margin: 0; 
    padding: 0;
    height: 100%;
}

body {
    background-color: #235B8C;
}
header {
    /*height:10%;*/
    padding: 25px 0 35px;
    display: inline;
}


footer {
    height:20%;
    background: #f6594a;
    border-top: medium solid #235B8C;
}

/*Header*/

.headercontainer {
    background: black;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 200px;
    background-image: url(../images/bluebanner.JPG)
}

#headerbg {
    width: 100%;
    height: 200px;
    z-index: 4;
    opacity: 0.7;
}

#wrap {
    width: 100%; /* Spans the width of the page */
    height: 50px; 
    margin: 0; /* Ensures there is no space between sides of the screen and the menu */
    z-index: 99; /* Makes sure that your menu remains on top of other page elements */
    position: relative; 
    background-color: black;
    }

#nav {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute; /* Ensures that the menu doesn’t affect other elements */
    border-right: 1px solid #54879d; 
    color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#nav li {
    background: #000000;
    background: -moz-linear-gradient(top, #000000 10%, #310831 15%, #8a178a 24%, #611961 48%, #1c1c1c 88%);
    background: -webkit-gradient(left top, left bottom, color-stop(10%, #000000), color-stop(15%, #310831), color-stop(24%, #8a178a), color-stop(48%, #611961), color-stop(88%, #1c1c1c));
    background: -webkit-linear-gradient(top, #000000 10%, #310831 15%, #8a178a 24%, #611961 48%, #1c1c1c 88%);
    background: -o-linear-gradient(top, #000000 10%, #310831 15%, #8a178a 24%, #611961 48%, #1c1c1c 88%);
    background: -ms-linear-gradient(top, #000000 10%, #310831 15%, #8a178a 24%, #611961 48%, #1c1c1c 88%);
    background: linear-gradient(to bottom, #000000 10%, #310831 15%, #8a178a 24%, #611961 48%, #1c1c1c 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1c1c1c', GradientType=0 );
}

#nav li:hover a{
    background-image: none;
    background-color: #201F1F;
    color: purple;
}


#nav li:hover ul li {
    background-image: none;
    background-color: #201F1F;
    color: purple;
}

#nav li {
    height: auto;
    width: 10%;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
    padding: 0;
    margin: 0;
    background-color: #201F1F;
}


#nav li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: #201F1F;
    color: purple;
}

#nav li:hover ul {
    display: block;
    color: purple;
    background-image: none;
}

#nav a {
    padding: 18px 0;
    background-image: none;
    text-decoration: none;
    display: block;
    color: #201F1F;
}

/*a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color:#E01DB6;
    background-color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: black;
    color:#0022BD;
}

a:link {
    color:black;
   */
}
.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

#main {
    height: 70%;
    /*background: #EC38F2;*/
    padding-top-top: 50px solid #235B8C;

}

#logo {
    height: 20%;
    width: 20%;
}
#datatable {
    height: 300px;
    overflow-y: scroll;
}

.formfloatleft {
    float:left; 
    width: 50%;
    height: 400px;
}

.formfloatright {
    float: right;
    height: 400px;
    width: 50%;
}
​

#zeroninebio {
    font-size: 35px;
}

#profile {
    position: relative;
    background-color: red;
}

#container {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    left: 44%;
}

#biotire {
    width: 85px;
    height: 85px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 5;
    opacity: 0.5;
}

.pulse {
  width: 80px;
  height: 80px;
  border: 3px solid #E01DB6;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #955079;
  z-index: 4;
  position: absolute;
}
.dot {
  border: 15px solid #E01DB6;
  background: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 70px;
  height: 77px;
  width: 77px;
  box-shadow: inset 0 0 1em #E01DB6, 0 0 1em #E01DB6;
  -webkit-animation: pulse 2s ease-out;
  -moz-animation: pulse 2s ease-out;
  animation: pulse 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -11px;
  left: -10px;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes pulse {
 0% {

    opacity: 0.0;
 }
 20% {

    opacity: 0.1;
 }
 40% {

    opacity: 0.3;
 }
 60% {

    opacity: 0.5;
 }
 80% {
    opacity: 0.7;
 }
 90% {
    opacity: 0.3;
 }
 100% {

    opacity: 0.0;
 }
}
@-webkit-keyframes "pulse" {
 0% {

    opacity: 0.0;
 }
 20% {

    opacity: 0.1;
 }
 40% {

    opacity: 0.3;
 }
 60% {

    opacity: 0.5;
 }
 80% {
    opacity: 0.7;
 }
 90% {
    opacity: 0.3;
 }
 100% {

    opacity: 0.0;
 }
}

#biotext {
    font-family: Warnes, cursive;
    font-size: 45px;
    color: rgba(255,255,255,1);
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de;
}

#headertext {
    font-family: Warnes, cursive;
    font-size: 20px;
    color: rgba(255,255,255,1);
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

@-webkit-keyframes neon { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes neon { from { opacity:0; } to { opacity:1; } }
@keyframes neon { from { opacity:0; } to { opacity:1; } }

.neon {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:neon ease-in 1;  /* call our keyframe named neon, use animattion ease-in and repeat it only 1 time */
    -moz-animation:neon ease-in 1;
    animation:neon ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}


.word1 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.word2 {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.word3 {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    animation-delay: .6s;
}

.word4 {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .8s;
    animation-delay: .8s;
}

.word5 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.word6 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.word7 {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.word8 {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

/*tables for both bikes and meal signups */

table {
    border-spacing: .5rem;
}

.datatable {
    position: relative;
    width: 90%;
    height: 60%;
    border: 10px solid purple;
    overflow: scroll;
}

.datatable thead {
    position: relative;
    text-align: center;
    border-box: 3px solid purple;
    padding-right: 48px;
    width: 25%;
}

.datatable td {
    width: 30%;
    text-align: center;
}

.showTable {
    display: block;
}

.hideTable {
    display:none;
}

#allShifts {
  display:none;  
}


