gunicorn==19.4.5
Django==1.9.1
Pillow==3.1.0
psycopg2==2.6.1
wheel==0.24.0
whitenoise==2.0.6
boto==2.40.0
django-storages==1.4.1
dj-database-url==0.3.0
factory_boy==2.6.1
django-crispy-forms==1.6.0
raven>=3
