{% extends "base.html" %}
{% block content %}

<div id="about" class="textbody">

	<i><b>elucido solitudo obscurum - to light the desert's darkness</b></i>

	<h1>Who are we?</h1>

	<p>Bioluminati is a theme camp at Burning Man. We are a merry group of ~35 people with mixed backgrounds; primarily in technology and the arts. We thrive by cooperative effort and bond around our fine cuisine. About 120 Burners have joined us at one time or another over the years, so far hailing from the United States, Canada, England, and Germany.</p>
	<br>
	<p>Bioluminati is a 501(c)(7) tax exempt, not-for-profit, organization, incorporated in the state of California.  Its purpose is to coordinate the camp infrastructure, transportation logistics, costs and management. We own a cargo trailer that stores most of our physical infrastructure when we are not on the Playa.  We also own a large cargo truck for storage and transport of whatever needs to be maintained after each Burn.</p>
	<br>
	<p>We have been an active camp since 1996. In the early years, we primarily focused on Bio-illumination. This involved many glowsticks, the common personal lighting at the time. With the advent of cheap EL-wire and LED lighting, many on the playa are now well lit.
	</p>
	<br>
	<p>The camp has also had various interactive art projects, as well as Quests involving all of Black Rock City.</p>
	<br>
	<p>In 2005, campers Nick and Tracy had an idea- offer to the city some form of bike decoration station. From this idea, Pimp Your Bike began, and made its debut at Burning Man 2006. It has evolved into a popular offering with growing success. All our campers are expected to contribute.  We utilize donations of all manner of odd non-"MOOP" producing items - old xmas ornaments, paint, stickers, found objects, led lights and fabric - for fellow playa citizens to dress up their rides!</p>
	<br>
	<p>
	In 2007, camper Random started Micro-Cinema: a nightly projection of camper's and friend's video projects. These are interlaced with non-mainstream personal movie favorites.</p>
	<br>
	<p>Feel free to browse our site. Look at our photos, learn about our shelters, check out our awesome kitchen system and some of our crazy ideas!</p>
</div>

{% endblock %}
