{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Warnes' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% static 'javascript/scripts/base.js' %}"></script>

    {% block extrahead %}{% endblock %}
 </head>
 <body>
    <header>
        <div class="headercontainer">
            <img class="biotire" id="leftbiotire" src="{% static 'images/biotire.gif' %}">
            <img class="biotire" id="rightbiotire" src="{% static 'images/biotire.gif' %}">
            <span id="biotext">Bioluminati</span>
            <div id="headertext">
              <span class="neon word1">to</span> <span class="neon word2">boldly </span><span class="neon word3">glow </span><span class="neon word4">where</span> <span class="neon word5">nobody </span> <span class="neon word6">has</span><span class="neon word7"> glowed </span><span class="neon word8">before</span>
            </div>
            <div id="container"> 
            </div>
            <div id="hands">
            </div>
        </div>
          <div id="wrap">
            <ul id="nav">
              <li><a href="#">Getting started</a>
                <ul>
                    <li><a href={% url 'about' %}>About Bio</a></li>
                    <li><a href={% url 'prep' %}>Prep for the burn</a></li>
                </ul>
              </li>
              {% if user.is_authenticated %}
              <li><a href="#">Registration</a>
                 <ul>
                  <li><a href={% url 'profile' %}>Basic info</a>
                  <li><a href={% url 'vehicle' %}>Getting here</a></li>
                  <li><a href={% url 'shelter' %}>Shelter</a></li>
                  <li><a href={% url 'meal_shifts' %}>Meal shifts</a></li>
                  <li><a href={% url 'bms_shifts' %}>Bike shifts</a></li>
                  <li><a href={% url 'bikemutation' %}>Bike materials</a></li>
                </ul>
              </li>
              <li><a href="#">Operations</a>
                <ul>
                  <li><a href={% url 'campers' %}>Campers</a></li>
                  <li><a href={% url 'meal_schedule' %}>Chef's view for meals</a></li>
                  <li><a href={% url 'calendar' %}>Bio Calendar</a></li>
                  <li><a href={% url 'inventory' %}>Truck Inventory</a></li>
                </ul>
              </li>
              <li><a href={% url "logout" %}>Logout</a></li>
              {%else %}
              <li><a href="/login/">Login</a></li> 
              {% endif %}
            </ul>
          </div>
        </div>
      </header>
      {% block content %}
      {% endblock %}
   </div>
  </body>
</html>