{% extends "base.html" %}
{% block content %}

	<div class="">
		<div class="table_title">
			<span>
					<div ></div><div class="instruction_image" id="pyb_help_icon"></div>
					<div class="help_text_wrap">
						<div class="table_instructions hidden" id="pyb_shift_help_text">
							<p>This page shows all Bike Mutation shifts and allows you to sign up or remove yourself. We need multiple campers for each shift.  
							You can click on the buttons to add or drop yourself from a shift. <br>
							This page only displays basic shift information.
							<br>
							Click the question mark again to hide this help dialogue.
							</p> 
					</div>
				</div>
			</span>
		</div>
		<div class="tablewrap">
			<table class="gradienttable table_with_form">	
				<thead>
					<tr>
						<th><p>Day</p></th>
						<th><p>Shift</p></th>
						<th><p>Camper</p></th>
						<th><p>Action</p></th>
					</tr>
				</thead>
				<div>
					{% for shift in shifts %}
						<tr class="table_form">
						 	<td><b>{{ shift.date |date:"D d M" }}</b></td>
							<td><b>{{shift.shift}}</b></td>
							<td><b>{{shift.worker}}</b></td>
							<td>
							{% if user == shift.worker %}
							  <form action="{% url 'bms_worker_signup' shift.id %}" method="post">
							  	{% csrf_token %}
							  	<button>Quit this shift</button>
							  </form>
							{% elif shift.worker %}
							  {{ shift.worker }}
							{% else %}
							  <form action="{% url 'bms_worker_signup' shift.id %}" method="post">
							  	{% csrf_token %}
							  	<button>Sign up for shift</button>
							  </form>
							{% endif %}
					        </td>
					{% endfor %}
				</div>
			</table>
		</div> 

	{% if form.errors %}
	<div id="form-error">
		<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
		<ul>
		{% for field in form %}
		<li>{{ field.errors|striptags }}</li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}

{% endblock %}