{% extends "base.html" %}

{% block content %}

<div class="calendar_container">
	<table id="calendar_table">	
	   <thead>
	   <tr>
	   {% for day in days %}
	     <th>{{ day }}</th>
	   {% endfor %}
	   </tr>
	   </thead>
		<tr>
			{% for day, campers in campers_by_day %}
				<td class="weekdaycell">
	    		<p>In camp:</p>
	    		{% for camper in campers %}
	    			{{camper.username}}
	    			<p>Can't eat: {{camper.meal_restrictions}}</p>
	    			<p>{{camper.other_restrictions}}</p>
	    		{% endfor %}
	    		</td>
			{% endfor %}
		</tr>
		<tr>
		{% for day, shifts in meal_shifts_by_day %}
			<td>
			<p>cooking:</p>
			{% for shift in shifts %}
				<p>{{ shift.meal.kind }} - {{shift.role}}:{{shift.worker}}</p>
			{% endfor %}
			</td>
		{% endfor %}
		</tr>
		<tr>
		{% for day, shifts in bike_shifts_by_day %}
			<td>
			<p>bikes:</p>
			{% for shift in shifts %}
				<p>{{shift.shift}}:{{shift.worker}}</p>
			{% endfor %}
		{% endfor %}
		</tr>		
	</table>
</div>

{% endblock %}