{% extends "base.html" %}

{% block content %}

<div class="calendar_container">
	<table id="calendar_table">	
	   <thead>
	   <tr>
	   {% for day in days %}
	     <th>{{ day }}</th>
	   {% endfor %}
	   </tr>
	   </thead>
		<tr>
			{% for counts in counts_by_day %}
				<td class="weekdaycell">
				<ul>
					<li>Arriving: {{ counts.arriving }}</li>
					<li>Staying: {{ counts.staying }}</li>
					<li>Departing: {{ counts.departing }}</li>
					<li>Unconfirmed: {{ counts.unconfirmed }}</li>
				</ul>
				</td>
			{% endfor %}
		</tr>
		<tr>
		{% for shifts in meal_shifts_by_day %}
			<td class="weekdaycell">
			<p>cooking:</p>
			{% for shift in shifts %}
				<p>{{ shift.meal.kind }} - {{shift.role}}:{{shift.worker}}</p>
			{% endfor %}
			</td>
		{% endfor %}
		</tr>
		<tr>
		{% for shifts in bike_shifts_by_day %}
			<td class="weekdaycell">
			<p>bikes:</p>
			{% for shift in shifts %}
				<p>{{shift.shift}}:{{shift.worker}}</p>
			{% endfor %}
		{% endfor %}
		</tr>		
	</table>
</div>

{% endblock %}