{% extends "base.html" %}
{% block content %}
 
	<div id="bikeform">
		<h2>Edit Bike</h2>
			<table class="gradienttable">	
				<thead>
					<tr>
						<th><p>Bike Name</p></th>
						<th><p>Bike Size (inches)</p></th>
						<th><p>Owner</p></th>
						<th><p>What's wrong with this bike? </p></th>
						<th><p>In bike pool?</p></th>
						<th><p>In truck?</p></th>
						<th><p>Notes</p></th>
						<th><p>Actions</p></th>
					</tr>
				</thead>
				<div class="datatables">
					<tr id="table_form">
						<form action="/bikes/" method="post">
							{% csrf_token %}					
							<td class="table_text_input">{{ form.bike_name }}</td>
							<td class="table_text_input">{{ form.bike_frame_size_inches }}</td>
							<td>{{ form.bike_owner }}</td>
							<td>{{ form.repair_needed }}</td>
							<td>bike pool{{ form.in_bike_pool_this_year }}</td>
							<td>truck {{ form.stored_in_truck }}</td>
							<td class="table_text_input">{{ form.owners_last_year_on_playa }}</td>
							<td>
			  					<input class="table_submit_button" type="submit" value="Save bike"/>
			  				</td>
						</form>
					</tr>
				</div>
			</table>
		</div>

{% endblock %}