{% extends "base.html" %}
{% block content %}


<div>
	<div id="truck_inventory">
		<h2 id="truck_heading">Truck Inventory </h2>
		<div class="tablewrap">
			<table class="gradienttable table_with_form">
				{% csrf_token %}
				<tr>	
				 
						<form action="" method="post">
						  {% csrf_token %}
						  	
						  		<td>{{form.item}}</td>
						  		<td>{{form.quantity}}</td>
						  		<td>{{form.needs_repairs}}</td>
							  	<td> <input class="table_button" type="submit" value="Add inventory" /></td>
						</form>
				</td></tr>
				<thead>
					<tr>
						<td><p>Whatcha got?</p></td>
						<td><p>Quantity</p></td>
						<td><p>Needs Repairs</p></td>
						<td><p>Change</p></td>
					</tr>
				</thead>
					{% for item in truck_inventory %}
						<tr class="datarow">
							<td>{{item.item}}</td>
							<td>{{item.quantity}}</td>
							<td>{{item.needs_repairs}}</td>
							<td>
							<td>
						        <form action="/remove_items_from_truck/" method="post">
						            {% csrf_token %}
						            <input type="hidden" name="item_id" value="{{item.id}}" />
						            <input type="submit" value="delete item">
						        </form>
					    	</td>

					    </td>
						</tr>
					{% endfor %}
			</table>
		</div>
	</div>



</div>


{% endblock %}