{% extends "base.html" %}
{% load meals staticfiles %}

{% block extrahead %}
{% endblock %}


{% block content %}

<h1>Meal shift signups</h1>

<p>
All breakfasts and dinners need chefs.  Midnight BBQs are optional, if someone would like to put one on.</p>

<table>
{% for meals in meals_by_day %}
    {% if meals %}
    <tr>
        <th>{{ meals.0.day|date }}</th>
        {% for meal in meals %}
        <td>
          <h3>{{ meal.kind }}</h3>
          {% chef_widget meal user %}
          <h3>Shifts:</h3>
          <ul>
          {% if not meal|is_chef:user %}
            {% if meal.shifts.non_chef %}
              {% for shift in meal.shifts.non_chef %}
                {% shift_widget shift user %}
              {% endfor %}
            {% endif %}
          {% else %}
            {% for shift in meal.shifts.non_chef %}
              {% chef_worker_widget shift %}
            {% endfor %}
          {% endif %}
          </ul>
        {% endfor %}
        </td>
      {% endif %}
    </tr>
{% endfor %}


{% endblock content %}