{% extends "base.html" %}
{% block content %}

<div id="first_time">
	<p> If you're new to the Burn, it's a good idea to spend some time reading up on how to prepare and what to expect. <br>
	<br><br>
	At the very minimum, please read the official website's <a href="http://burningman.org/event/preparation/first-timers-guide/">first timer's guide</a>, including the packing list and review of the ten principles.  Both of these are critical to thriving in the harsh environment, and to being a good citizen at Black Rock City.  There's also a guide <a href="http://burningman.org/event/preparation/playa-living/kids/">to surviving with kids.</a>
	<br><br>
	Burning Man can be an overwhelming experience, and the <a href-"https://www.fest300.com/magazine/an-emotional-survival-guide-to-burning-man"> Emotional Survival Guide</a> is a handy guide for considering some of the other parts of thriving in this overwhelming and challenging context. If you're bringing kids, there's a handy guide that the org prepared you can get <a href="http://burningman.org/event/preparation/playa-living/kids/"> here.</a> 
	<br><br>
	Finally, there's always the <a href="http://burningman.org/event/preparation/playa-living/kids/">Burning Man Reddit community</a> where you can find answers to all sorts of questions, and of course, our group list for general advice is always a good place to start. 

	</p>
</div>

{% endblock %}