{% extends "base.html" %}

{% block content %}
{% load static %}

<div id="left_border">
	<img class="decoborder" id="sleeping_border" src="{% static 'images/decoborder.png' %}">
</div>

<div id="shelter_form">
		<div class="title" id="sleeping_title">Tell us about your accommodations</div>
		<form action="/shelter/" method="post" id='shelter_form'>
	<table id="shelter_table" class="gradienttable table_with_form">	
			{% csrf_token %}
		    	{% if form.non_field_errors %}
		    	<tr><td colspan=2 class="form-error">{{ form.non_field_errors }}</td></tr>
		    	{% endif %}
			    <tr><td>What shelter are you planning? </td><td>{{form.sleeping_arrangement}}{{form.sleeping_arrangement.errors}}</td></tr>
				<tr><td colspan=2>
					<ul>
					<li>If sleeping in your vehicle, you'll need to tell us about it on <a href="{% url 'vehicle' %}">Getting here</a></li>
				</td></tr>
			    <tr><td>If sharing a shelter, whose?</td><td>{{ form.shelter_provider }}{{ form.shelter_provider.errors }}</td>
			    <tr><td colspan=2>If you’re bringing your own tent, tell us about it:</td></tr>
			    <tr><td>According to the manufacturer, how many people does it sleep?</td><td>{{form.number_of_people_tent_sleeps}}{{form.number_of_people_tent_sleeps.errors}}</td></tr>
			    <tr><td>Do you need space under <a href="https://www.flickr.com/photos/suldrew/8649495627" target="_blank">the Ubertent</a>? </td><td>{{form.sleeping_under_ubertent}}{{form.sleeping_under_ubertent.errors}}
			    </td></tr>
				<tr><td>How wide (in feet) is your shelter? </td><td>{{form.width}}{{form.width.errors}}
			    </td></tr>			    
				<tr><td>How long (in feet) is your shelter? </td><td>{{form.length}}{{form.length.errors}}
			    </td></tr>			    
		    	<tr>
		    		<td colspan=2><input class="table_button" type="submit" value="Save shelter info" />
		    		</td></td>
		    	</tr>

	</table>
			</form>
</div> 

<div class="message_container" id="shelter_message">
		{% csrf_token %}
		
</div>

{% endblock %}