{% extends "base.html" %}

{% block content %}
{% load static %}

<div id="left_border">
	<img class="decoborder" id="sleeping_border" src="{% static 'images/decoborder.png' %}">
</div>

<div id="shelter_form">
		<div class="title" id="sleeping_title">Tell us about your accommodations</div>
		<form action="/shelter/" method="post" id='shelter_form'>
	<table id="shelter_table" class="gradienttable table_with_form">	
			{% csrf_token %}
		    	<thead>
		    	<tr id="profile_submit_row">
		    		<td>Click here to enter your data</td>
		    		<td>
		    			<input id="shelterbutton" class="table_button" type="submit" value="enter shelter info" />
		    		</td></td>
		    	</tr>
		    	{% if form.non_field_errors %}
		    	<tr><td colspan=2 class="form-error">{{ form.non_field_errors }}</td></tr>
		    	{% endif %}
			    <tr><td>What shelter are you planning? </td><td>{{form.sleeping_arrangement}}{{form.sleeping_arrangement.errors}}</td></tr>
				<tr><td colspan=2>
					<ul>
					<li>If bringing a tent, please tell us about it.</li>
					<li>If sleeping in your vehicle, you'll need to tell us about it on <a href="{% url 'vehicle' %}">Getting here</a></li>
					<li>If sharing someone else's shelter, please tell us who.</li>
					</ul>
				</td></tr>
			    <tr><td>Provided by:</td><td>{{ form.shelter_provider }}{{ form.shelter_provider.errors }}</td>
			    <tr><td>If it's a tent, how many people does it sleep (according to the manufacturer)? </td><td>{{form.number_of_people_tent_sleeps}}{{form.number_of_people_tent_sleeps.errors}}</td></tr>
			    <tr><td>Do you need space under the Ubertent? </td><td>{{form.sleeping_under_ubertent}}{{form.sleeping_under_ubertent.errors}}
			    </td></tr>
				<tr><td>How wide (in feet) is your shelter? </td><td>{{form.width}}{{form.width.errors}}
			    </td></tr>			    
				<tr><td>How long (in feet) is your shelter? </td><td>{{form.length}}{{form.length.errors}}
			    </td></tr>			    

	</table>
			</form>
</div> 

<div class="message_container" id="shelter_message">
		{% csrf_token %}
		
</div>

{% endblock %}