{% extends "base.html" %}

{% block content %}
{% load static %}

<div id="left_border">
	<img class="decoborder" id="sleeping_border" src="{% static 'images/decoborder.png' %}">
</div>

<div id="shelter_form">
		<div class="title" id="sleeping_title">Tell us about your accommodations</div>
		<form action="/shelter/" method="post" id='shelter_form'>
	<table id="shelter_table" class="gradienttable table_with_form">	
			{% csrf_token %}
		    	<thead>
		    	<tr id="profile_submit_row">
		    		<td>Click here to enter your data</td>
		    		<td>
		    			<input id="shelterbutton" class="table_button" type="submit" value="enter shelter info" />
		    		</td></td>
		    	</tr>
		    	{% if form.non_field_errors %}
		    	<tr><td colspan=2 class="form-error">{{ form.non_field_errors }}</td></tr>
		    	{% endif %}
			    <tr><td>What kind of structure are you sleeping in? </td><td>{{form.sleeping_arrangement}}</td></tr>
			    <tr><td colspan=2>Provide details below only if your own shelter:</td></tr>
			    <tr><td>If it's a tent, how many people does it sleep (according to the manufacturer)? </td><td>{{form.number_of_people_tent_sleeps}}</td></tr>
			    <tr><td>Do you need space under the Ubertent? </td><td>{{form.sleeping_under_ubertent}}
			    </td></tr>
				<tr><td>How wide (in feet) is your shelter? </td><td>{{form.width}}
			    </td></tr>			    
				<tr><td>How long (in feet) is your shelter? </td><td>{{form.length}}
			    </td></tr>			    

	</table>
			</form>
</div> 

<div class="message_container" id="shelter_message">
		{% csrf_token %}
		
</div>

{% endblock %}