{% extends "base.html" %}
{% block content %}


<div>
	<div class="formfloatleft">

		<h2>Material Inventory </h2>
		<div class="tablewrap">
			<table class="gradienttable">	
				<thead>
					<tr>
						<th><p>Whatcha got?</p></th>
						<th><p>Quantity</p></th>
						<th><p>Units</p></th>
					</tr>
				</thead>
				<div class="datatables">
						{% for material in materials %}
							<tr class="datarow">
								<td>{{material.material}}</td>
								<td>{{material.quantity}}</td>
								<td>{{material.units}}</td>
							</tr>
						{% endfor %}
				</div>
			</table>
		</div>
	</div>


	<div class='formfloatright' >
		<h2>Add material</h2>
		<form action="" method="post">
		  {% csrf_token %}
		  	<ul>
			    {{ form.as_ul}}
			</ul>
		  </ul>
		  <input type="submit" value="Save" />
		</form>
	</div>
</div>


{% endblock %}