{% extends "base.html" %}
{% block content %}


<div>
	<div class="formfloatleft">

		<h2>Truck Inventory </h2>
		<div class="tablewrap">
			<table class="gradienttable">	
				<thead>
					<tr>
						<th><p>Whatcha got?</p></th>
						<th><p>Needs Repairs</p></th>
						<th><p>Change</p></th>
					</tr>
				</thead>
				<div class="datatables">
						{% for things in truck_inventory %}
							<tr class="datarow">
								<td>{{things.item}}</td>
								<td>{{things.needs_repairs}}</td>
							<td>
							<td>
						        <form action="/remove_items_from_truck/" method="post">
						            {% csrf_token %}
						            <input type="hidden" name="item_id" value="{{item.id}}" />
						            <input type="submit" value="delete item">
						        </form>
						    </td>

						    </td>
							</tr>
						{% endfor %}
				</div>
			</table>
		</div>
	</div>


	<div class='formfloatright' >
		<h2>Add stuff</h2>
		<form action="" method="post">
		  {% csrf_token %}
		  	<ul>
			    {{ form.as_ul}}
			</ul>
		  </ul>
		  <input type="submit" value="Save" />
		</form>
	</div>

</div>


{% endblock %}