{% extends "base.html" %}

{% block content %}

<div id="profile">
		<h2>Fill out your profile there's more text here  </h2>
		<form action="." method="post">
	<table id="profile_table" class="gradienttable table_with_form">	
			{% csrf_token %}
		    	<thead><tr id="profile_submit_row"><td><input class="table_button" type="submit" value="submit"></td><td></td></tr>
			    <tr><td>Upload a profile pic.</td><td> {{form.picture}}</td></tr>
			    <tr><td>What day will you arrive?</td><td>{{form.arrival_day}}</td></tr>
				<tr><td>What day will you leave?</td><td>{{form.departure_day}}</td></tr>
			    <tr><td>What are you, digestively speaking? </td><td>{{form.diet_lifestyle}}</td></tr>
			    <tr><td>What specific foods do you not eat?</td><td>{{form.meal_restrictions}}</td></tr>
			    <tr><td>Anything not listed that you don't eat? List them here. </td><td>{{form.other_restrictions}}</td></tr>
			    <tr><td>City you live in: </td><td>{{form.city}}</td></tr>
			    <tr><td>Number of burns you've been to: </td><td>{{form.number_of_burns}}</td></tr>
			    <tr><td>Twitter handle: </td><td>{{form.twitter_handle}}</td></tr>
			    <tr><td>Facebook url: </td><td>{{form.facebook_url}}</td></tr>
			    <tr><td>Petronus </td><td>{{form.petronus}}</td></tr>
			    <tr><td>Do you need a bike? </td><td>{{form.needs_camp_bike}}</td></tr>
	</table>
			</form>
</div> 

{% endblock %}