{% extends "base.html" %}

{% block content %}

<div id="profile" class="formfloatleft">


</div>
<div class="formfloatright">
	<div>
		<h2>Fill out your profile </h2>
		<form action="." method="post">
			{% csrf_token %}
		    {{UserProfileForm}}
		    <ul>
			    <li>City you live in: {{form.city}}</li>
			    <li>Number of burns you've been to: {{form.number_of_burns}}</li>
			    <li>Years with Bioluminati: {{form.years_with_bio}}</li>
			    <li>Twitter handle: {{form.twitter_handle}}</li>
			    <li>Petronus {{form.petronus}}</li>
			    <li>Do you need a bike? {{form.needs_camp_bike}}</li>
			    <li>What can't you eat? {{form.meal_restrictions}}</li>
			    <li>Upload a profile pic. {{form.picture}}</li>
		    </ul>
		    <input type="submit" value="submit">
		</form>
	</div>
</div>


{% endblock %}