{% extends "base.html" %}
{% block content %}
{% load render_table from django_tables2 %}

<div class="formfloatleft">
	<h2>Shifts</h2>
	{% render_table shifts %}
	<div id="datatable">
		<ul>
			<!-- {{ username }} -->
			{% for shift in shifts %}
			<li>{{shift.camper}} {{shift.day}} {{ shift.meal }} </li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="formfloatright">
	<h2>Sign up for a shift</h2>
	<form method="post" action="">
		{% csrf_token %}
	    <!-- {{ form }} -->
	   <ul> 
		    <li>{{form.day}}</li>
		    <li>{{form.shift}}</li>
		    <li>{{form.meal}}</li>
		    <li>{{form.camper}}</li>
	    </ul>
	    <input type="submit" value="sign me up!">
	</form>
</div>

{% endblock %}